.heroContainer {
  width: 100%;
  height: 100vh;
  min-height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: #ff4543;
  position: relative;
}

.bgTexture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.btnContactFixed {
  position: absolute;
  z-index: 1;
  bottom: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.btnContactFixed button {
  padding: 10px 15px;
  border-radius: 50px;
  border: 2px solid rgb(130, 55, 55);
  background-color: #ffca00;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}

.btnContactFixed button:last-child{
  display: none;
}

.btnContactFixed button p {
  font-size: 1.2rem;
  font-family: var(--font-darkforce);
  letter-spacing: 1px;
  line-height: 0;
}

.btnContactFixed button:hover {
  background-color: #00a0ff;
}

.titleBox {
  z-index: 2;
  width: 50%;
  position: absolute;
  left: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  animation: lightIntro 2s ease-in-out;
}

.titleBox h1 {
  width: 70%;
  font-size: 3.5rem;
  font-family: var(--font-darkforce);
  color: #ffca00;
  -webkit-text-stroke: 2px black;
  line-height: 0.7;
  text-shadow: 4px 4px 0px black;
}

.titleBox h2 {
  width: 60%;
  font-size: 1.7rem;
  color: black;
  font-family: var(--font-masafont);
  line-height: 1;
  letter-spacing: -1px;
}

.contextService {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 1;
  position: relative;
}

.contImg {
  position: relative;
  width: 42%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contImg .oficialImg {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: right;
  animation: l16 2s ease-in-out;
}

@keyframes l16 {
  0% {
    transform: translateX(150px);
  }
  50% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(0px);
  }
}

.contImg .oficialImgTwo {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: right;
  z-index: 1;
  animation: l17 2s ease-in-out;
  opacity: 0;
}

@keyframes l17 {
  0% {
    opacity: 1;
    transform: translateX(150px);
  }
  50% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(0px);
  }
}

.contLight {
  position: absolute;
  width: 68.5%;
  height: 100%;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.contLight .lightPc {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
  animation: lightIntro 2s ease-in-out;
}

.contLight .lightMov {
  display: none;
}

@keyframes lightIntro {
  0% {
    opacity: 0;
    transform: translateX(-150px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.btnDirectHome {
  height: 45px;
  padding: 0px 35px 0px 20px;
  border-radius: 50px;
  border: 2px solid black;
  background-color: #ffca00;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btnDirectHome p {
  font-size: 1.4rem;
  font-family: var(--font-darkforce);
  color: black;
  line-height: 0.5;
  margin-bottom: -3px;
}

.btnDirectHome span {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #ffca00;
  display: flex;
  align-items: center;
  justify-content: center;
  right: -10px;
  transform: rotate(90deg);
  border: 2px solid black;
}

.btnDirectHome:hover {
  background-color: #ff3c3a;
}

.btnDirectHome:hover span {
  background-color: #ff3c3a;
}

.boxContact{
  display: none;
}

@media (max-width: 1000px) {
  .contextService {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 1;
    position: relative;
  }

  .contImg {
    position: absolute;
    width: 100%;
    height: 55%;
    bottom: 0px;
  }

  .contImg .oficialImg {
    object-position: bottom;
    transform: rotate(90deg);
    margin-left: -6px;
  }

  .contLight {
    position: absolute;
    width: 100%;
    height: 58.5%;
    top: 0px;
    left: 0px;
  }

  .contLight .lightPc {
    display: none;
  }

  .contLight .lightMov {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
  }

  .titleBox {
    width: 80%;
    position: absolute;
    top: 180px;
    left: auto;
    align-items: center;
    gap: 10px;
  }

  .titleBox h1 {
    width: 100%;
    text-align: center;
    font-size: 3rem;
  }

  .titleBox h2 {
    width: 100%;
    text-align: center;
  }

  .btnDirectHome {
    height: 40px;
    margin-top: 25px;
  }

  .btnContactFixed {
    width: 65%;
    justify-content: space-between;
  }

  

}

@media (max-width: 550px) {
  .btnContactFixed {
    bottom: 100px;
    left: -15px;
    width: auto;
    flex-direction: column;
    gap: 10px;
  }
  
  .btnContactFixed button {
    padding: 10px 15px 10px 25px;
  }

  .btnContactFixed button:last-child{
    display: block;
    padding: 8px 15px 8px 25px;
  }
  
  .btnContactFixed button p {
    display: none;
  }

  .btnDirectHome {
    display: none;
  }

  .titleBox {
    top: 140px;
    left: auto;
    align-items: center;
    gap: 10px;
  }

  .titleBox h1 {
    width: 100%;
    text-align: center;
    font-size: 2.7rem;
    -webkit-text-stroke: 1px black;
    line-height: 0.7;
    text-shadow: 3px 3px 0px black;
  }

  .titleBox h2 {
    width: 100%;
    text-align: center;
  }

  .boxContact{
    display: block;
    position: absolute;
    z-index: 1;
    bottom: 100px;
    right: 0px;
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    padding: 20px 0px;
    gap: 20px;
    border-radius: 25px 0px 0px 25px;
  }
}
