.containerGeneral{
    margin-top:200px;
    width: 90%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #00A0FF;
    border-radius: 30px;
    position: relative;
}

.infoBox{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    z-index: 1;
}

.infoBox h2{
    font-family: var(--font-darkforce);
    font-size: 3.5rem;
    color:#ffca00;
    width: 65%;
    text-align: left;
    -webkit-text-stroke: 2px black;
    line-height: 0.7;
    text-shadow: 4px 4px 0px black;
}

.infoBox h3{
    font-family: var(--font-masafont);
    color: black;
    font-size: 2.2rem;
    width: 50%;
    text-align:left;
    line-height: 0.9;
    letter-spacing: -0.5px;
}

.flexButtons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 15px;
}

.flexButtons button{
    border: 2px solid black;
    background-color: #ffca00;
    height: 40px;
    padding: 0px 15px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}

.flexButtons button p{
    font-family: var(--font-darkforce);
    font-size:1.5rem;
    line-height: 0.5;
    margin-bottom: -5px;
}

.flexButtons button:hover{
    background-color: #FF3C3A;
}


.imgBox{
    width: 50%;
    height: 115%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 1;
}

.imgBox img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.bgTexture{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}

@media (max-width: 550px) {
    .containerGeneral {
      margin-top: 150px;
      width: 100%;
      height: 80vh;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
    }
  
    .imgBox {
      width: 100%;
      height: 50%;
    }
  
    .infoBox {
      width: 100%;
      height: 50%;
      align-items: center;
      justify-content: center;
    }
  
    .infoBox h2 {
      font-size: 2.8rem;
      width: 85%;
      text-align: center;
    }
  
    .infoBox h3 {
      font-size: 2rem;
      width: 85%;
      text-align: center;
    }
  
    .flexButtons {
      width: 85%;
      margin-top: 20px;
      gap: 30px;
    }
  
    .flexButtons button {
      height: 60px;
      aspect-ratio: 1;
      padding: 0px 0px;
      border-radius: 50%;
    }
  
    .flexButtons button img{
      width: 30px;
      height: 30px;
    }
  
    .flexButtons button p {
      display: none;
    }
  }